{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %} {% block title %}
    <title>{{title}}</title>
    {% endblock title %}
    <!-- Favicons -->
    <link href="{% static '/img/money.png' %}" rel="icon" />
  </head>
  <body>
    {% block content %}

    <section id="login" class="login d-flex align-items-center">
      <div class="container">
        <div class="logo row">
          <h1 class="d-flex align-items-center justify-content-center mb-3"><img src="{% static '/img/money.png' %}" class="img-fluid me-1" alt="" />Warehouse</h1>
        </div>
        <div class="row d-flex justify-content-center position-relative">
          {% for msg in messages %}
          <div class="alert alert-success text-center position-absolute start-50 translate-middle error" id="flashmsg" role="alert">{{msg}}</div>
          {% endfor %}
          <div class="col-5">
            <div class="card">
              <h5 class="text-center mb-4">Masukkan Username dan Password</h5>
              <form method="POST" action="/login">
                {% csrf_token %}
                <div class="mb-3">
                  <input class="form-control form-control-lg" type="text" placeholder="Username" aria-label=".form-control-lg example" name="username" required />
                </div>
                <div class="mb-3">
                  <input class="form-control form-control-lg" type="password" placeholder="Password" aria-label=".form-control-lg example" name="password" required />
                </div>
                <div class="text-center mt-4">
                  <button type="submit" class="btn w-100">Masuk</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock content %}{% include 'includes/preloader.html' %} {% include 'includes/scripts.html' %}
  </body>
</html>
